#index_body{
	text-align: center;
	background-image:url("images/overlay.png"), url("images/banner.jpg");
	background-size: 100%;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Avenir';
 	-webkit-font-smoothing: antialiased;
 	margin-top: 80px;
}

nav{
	background-color: #4c4c53;
	opacity: .85;
	position: fixed;
	vertical-align: top;
	width: 100%;
	height: 70px;
	top: 0;
}

nav div{
	display: inline-block;
	margin: 0;
}

#left_button{
	float: left;
	margin: 25px 0 0 7%;
}

#left_button1{
	float: left;
	margin: 25px 0 0 10%;
}

#welcome{
	float: left;
	font-size: 20px;
	margin-left: 9%;
}
#buttons{
	float: right;
	margin: -3px 7% 0 0;
}

p{
	color: aliceblue;
	font-weight: 500;
}

h1{
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 10px gray;
  font-weight: 500;
  margin: 0 0 0 15px;
}

#home_header2{
	color: white;
}

table{
	display: inline-block;
}

#headers td{
	margin-top: 100px;
	padding: 10px 10px 10px 5px;
	font-weight: 800;
}

td{
	padding: 5px 10px;
	color: aliceblue;
}
th{
	padding: 5px 10px;
	color: aliceblue;
}

h3{
	display: inline-block;
	color: #fff;
}

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  color: #92A7E0;
}

a:hover{
  color: #D7FDEC;
}

.label{
	margin-top: 15px;
	font-size: 20;
	color: #fff;
}

#since{
	margin-left: 6%;
}

select{
	margin-right: 10px;
	background-color: aliceblue;
	border-color: #4c4c53;
}

#right_table{
	padding: 0;
	text-align: center;
}
#data_box{
	text-align: center;
	margin-left: 5%;
	color: aliceblue;
	width: 90%;
	overflow: scroll;
}
#row{
	padding: 0 10px;
}

#site_num{
	margin-top: 350px;
}

#buttons h3{
	font-size: 25px;
}

#logout{
	margin-left: 15px;
}

#exdata{
	overflow: scroll;
	width: 90%;
	font-family: arial;
	background-color: black;
	color: #4c4c53;
	margin-left: 5%;
}

th#deletable_column:hover{
	background-image:url("images/remove.png");
	background-size: 10px 10px;
	background-position: 95% 0;
	background-repeat: no-repeat;
	cursor: pointer;
}

div#undo{
	float: right;
	margin-top: -45px;
	margin-right: 1%;
	background-color: #eee;
	background-image:url("images/undo.png");
	background-size: 25px 25px;
	background-position: 2.5px 5px;
	background-repeat: no-repeat;
	width: 30px;
	height: 36px;
}

div#undo:hover{
	cursor: pointer;
	background-color: #D7FDEC;
}

button{
  font-size: 12px;
  background-color: #4c4c53;
  color: aliceblue;
  padding: 2px 4px;
  cursor: pointer;
  border-color: white;
}

button:hover{
  background-color: #fff;
  color: #000;
}
