#index_body{
	text-align: center;
	background-image:url("images/overlay.png"), url("images/banner.jpg");
	background-size: 100%;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Avenir';
 	-webkit-font-smoothing: antialiased;
}

p{
	color: aliceblue;
	font-weight: 500;
}

h1{
  font-size: 50px;
  color: #fff;
  text-shadow: 0px 0px 10px gray;
  font-weight: 500;
  margin: 5px;
}

#home_header2{
	color: white;
}

table{
	display: inline-block;
}

#headers td{
	margin-top: 100px;
	padding: 10px 10px 10px 5px;
	font-weight: 800;
}

td{
	padding: 5px 10px;
	color: aliceblue;
}
th{
	padding: 5px 10px;
	color: aliceblue;
}

h3{
	display: inline-block;
	color: #fff;
}

a:link{
  text-decoration: none;
  color: white;
}

a:visited{
  color: lightblue;
}

a:hover{
  color: lightgray;
}

#label{
	margin-top: 0;
	font-size: 20;
}

select{
	margin-right: 10px;
	margin-bottom: 20px;
}

#home_button{
	position: absolute;
	top: 20px;
	left: 50px;
	margin-right: 50px;
	font-size: 28;
}

#left_table{
	float: left;
	color: lightgray;
	font-weight: 500;
  	margin: 92px 5px 0 10px;
	width: 75px;
}

#left_table td{
	padding: 5px 8px;
	font-weight: 500;
}

.ui-datepicker a{
  color:black;
}
.ui-datepicker-calendar{
  background-color: white;
}

#ui-datepicker-div{
  background-color: white;

}

#right_table{
	padding: 0;
	text-align: center;
}
#data_box{
	text-align: center;
	position: absolute;
	top: 200px;
	left: 90px;
	/*background-color: lightgray;*/
	color: aliceblue;
	width: 90%;
	opacity: .9;
	overflow: scroll;
}
#row{
	padding: 0 10px;
}

#site_num{
	margin-top: 350px;
}

#export_button{
	position: absolute;
	top: 30px;
	right: 60px;
	font-size: 25;
	padding-left: 10%;
}

#export_data_box{
	overflow: scroll;
	font-family: arial;
	background-color: black;
	opacity: .8;
}
