<html> 
	<head>
		<title>EnviroStats Database</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/tdbs/jquery/2.1.3/jquery.min.js"></script>
		<script src="public/submit.js"></script>
		<link rel="stylesheet" href="public/css.css" type="text/css" />
	
		<meta name="riverData"/>
	</head>

	<body id="index_body"> 
		<nav>
			<div id="buttons">
				<h3><a href="/export">Export</a></h3>
				<h3 id="logout"><a href="index.html">Logout</a></h3>
			</div>	
			<div id="home_header">
				<h1>Envirostats Database</h1>
			</div>
			<div id="left_button">
				<input id="columnName" type="text" size="15" placeholder="New Column Name">
				<button type="button" id="newColumnButton">Create</button>
			</div>
		</nav>

		<div id="newEntries">
			<!-- when this button is pushed, a new row is added to the table which can be edited with all the data later -->
			<input id="newRiver" type="text" name="river" size="15" placeholder="River Name">
			<input id="newDate" type="date" name="date" size="10" placeholder="Date">
			<button type="button" id="newEntriesButton">Add New Data</button>
		</div>
		
		<header2 id="home_header2">
			<h3 class="label">Currently Displaying Data at
				<select id="riverChoice">
						<option name="option" value="">---Select---</option>
					{{#rivers}}
						<option name="option" value="{{river}}">{{river}}</option>
					{{/rivers}}
				</select>on 
				<select id="dateChoice">
						<option name="option" value="">---Select---</option>
				</select>
				<button type="button" id="updateButton" >Update
			</h3>
		</header2>
		<table class="left_table" border=".5">
			<div id="rows">
				<tr><td>Grid #1</td></tr>
				<tr><td>Grid #2</td></tr>
				<tr><td>Grid #3</td></tr>
				<tr><td>Grid #4</td></tr>
				<tr><td>Grid #5</td></tr>
				<tr><td>Grid #6</td></tr>
				<tr><td>Grid #7</td></tr>
				<tr><td>Grid #8</td></tr>
				<tr><td>Grid #9</td></tr>
				<tr><td>Grid #10</td></tr>
			</div>
		</table>

		<div id="data_box">
			<table border=".5" id="right_table">
			<tr id="headers">
				<th>river</th>
				<th>date</th>
				{{#columns}}
					<th>{{niceNames}}</th>
				{{/columns}}
			</tr>
			<div id="data" river="{{metariver}}" date="{{metadate}}">
			</div>
		</table>
		</div>
	</body>

</html>