<html> 

	<head>
		<title>EnviroStats Database</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/tdbs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="submit.js"></script>
		<script src="/submit.js"></script>
		<link rel="stylesheet" href="css.css" type="text/css" />
		<meta name="index"/>
	</head>

	<body id="index_body"> 
		<nav> 
			<div id="home_header">
				<h1>EnviroStats</h1>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>
		</nav> 
	</body> 

</html>