<html> 
	<head>
		<title>EnviroStats Database</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/tdbs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="../public/index.js"></script>
		<link rel="stylesheet" href="../public/css.css" type="text/css" />
	
		<meta name="riverData"/>
	</head>

	<body>

		<header>
		</header>
		<body>
			<div>
				<input id="code" type="password" class="passwd" placeholder="Password">
				<button type="button" id="passwdbtn">Sign In</button>
			</div>
			<div>
				<input id="changestudent" type="password" class="passwd" placeholder="Password">
				<button type="button" id="passwdbtn">Sign In</button>
				<input id="changeteacher" type="password" class="passwd" placeholder="Password">
				<button type="button" id="passwdbtn">Sign In</button>
			</div>
			<div>
			 	<a href="/submit" role="button" class="indexbtn">SUBMIT DATA</a>
			  	<a href="/export" role="button" class="indexbtn">EXPORT DATA</a>
			</div>
		</body>
	</body>
</html>