<html> 
	<head>
		<title>EnviroStats</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/tdbs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="css.css" type="text/css" />
		<meta name="index"/>
	</head>

	<body id="index_body"> 
		<nav> 
			<div id="buttons">				
				<h3><a href="/submit">Submit</a></h3>
				<h3 id="logout"><a href="/export">Export</a></h3>
			</div>
			<div id="home_header">
				<h1>EnviroStats</h1>
			</div>
			<div id="welcome">
				<h3>WELCOME!</h3>
			</div>
		</nav>

		<h3>Please Use Your STAB Google Account to Login</h3>

		<div id="index_button" display="none">
			<a href="/auth/google"><div id="pButton" ></div></a>
		</div>
	</body> 
</html>